@import "src/styles";
@import "src/variables";

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 400px));
    grid-template-rows: repeat(3, minmax(150px, 300px));
    max-width: 1200px;
}

.skill-box {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    transition: transform 0.7s;
    transform-style: preserve-3d;

    &:nth-child(even) {
        border-color: $color-bg-alt;
    }

    &:hover {
        transform: rotateX(90deg);
        border-color: transparent;
    }

    .image-box {
        padding: 24px;
        border: 1px solid $color-alert-accent;
        transform: translateZ(100px);

        &:nth-child(2) {
            transform: rotateX(-90deg) translateZ(-100px);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media all and (max-width: 1200px) {
    .skills-container {
        @include addSpacingOfViewportFrame;
    }
}

@media all and (max-width: 768px) {
    .skills-container {
        grid-template-rows: auto;
        grid-gap: 20px;
        width: 100%;
    }

    .skill-box {
        max-width: 180px;
        max-height: 180px;
    }
}

@media all and (max-width: 480px) {
    :host {
        overflow: hidden;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        height: calc(100% - 120px);
        overflow-y: auto;
    }

    .skill-box {

        &:hover {
            transform: unset;
        }

        .image-box {
            display: none;

            &:nth-child(2) {
                display: block;
                transform: rotateX(0deg) translateZ(-100px);
            }
        }
    }
}
