<button mat-button color="accent" class="icon-btn nav-btn -large" [routerLink]="['/', 'home']">
    <span class="material-symbols-outlined">home</span>
</button>

<section class="text-container about">
    <p class="main-text -text-divider custom-padding"></p>
    <p class="main-text -text-divider">Hi! My name is Serhii, but you can call me Serg!</p>

    <div class="story-container -text-divider">
        <div class="image-box">
            <img src="./assets/me.jpg" alt="Serg">
        </div>
        <p class="main-text story">
            My IT trip started in 2017, when I joined Beetroot Academy courses of 'Front End'.
            After finishing courses I continue to learn and didn't give up trying to
            find a job.
            <br>
            <br>
            I made close to 16 test tasks before found a stable job. My first position was a HTML Coder.
            At first everything was good, but after some period I understood that I want to study in direction
            witch closer to development (make pages more dynamic via js) and somewhat need's to change.
            <br>
            <br>
            I went to new 'React.js' courses, finished it and obtained new knowledge for creating SPA.
            Little bit later I received an interesting opportunity to join US startup on Angular. First three months
            I worked as trainee, but after became a junior FE Dev. And here is my real IT career has begun 💥
        </p>
    </div>

    <p class="main-text -text-divider "></p>

    <p class="main-text -text-divider">
            That's why you read this and, may be, we will work together. or not) Thank's for attention!
    </p>

</section>
