@import "src/variables";

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.story-container {
    display: flex;

    .image-box {
        width: 34%;
        max-width: 378px;
        max-height: 536px;
        //float: left;
        padding-right: 20px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .story {
        width: 64%;
    }
}

.custom-padding {
    padding-bottom: 20px;
}

@media all and (max-width: 1024px) {
    .story-container {
        .image-box {
            display: none;
        }

        .story {
            width: 100%;
        }
    }
}


