<button mat-button color="accent" class="icon-btn nav-btn -large"  [routerLink]="['/', 'home']">
    <span class="material-symbols-outlined">home</span>
</button>

<section class="text-container career-container">
    <p class="main-text career-container__item">
        <span>Leetio ( 12.2022 - 05.2023 )</span>
        <span>Link: <a href="https://leetio.org/" target="_blank">leetio.org</a></span>
        <span>Middle Front end Engineer</span>
        <span>
            Worked on 2 projects. The first one (Angular) - is streaming platform for Emirates. I&nbsp;worked on
            implementation of video player for streaming movies and serials; also worked with ui tasks and bugs troubleshooting.
            <br>
            The second project (React) - is information portal + e-market + business meetings for Nigeria. Main work was
            a refactoring of existing code.
        </span>
    </p>

    <p class="main-text career-container__item">
        <span>Undock ( 02.2020 - 07.2022 )</span>
        <span>Link: <a href="https://app.undock.com/" target="_blank">app.undock.com</a></span>
        <span>Front end Developer / UI Developer</span>
        <span>
            I've been working in a US startup on a large Angular (v8-v13+) SPA.
            <br>
            Specialize in UI design implementation, creating UI&nbsp;components,
            refactoring UI&nbsp;components to achieve better layout flexibility, developing app-wide themes,
            creating adaptive and responsive layouts, and troubleshooting UI bugs.
            Used TypeScript, RxJS, decorators, directives, and pipes with Angular.
            Used the SCSS for component styles, including mixins, variables, etc.
            Typically I use Angular Material elements or creating custom components for UI components
            but also comfortable using any third-party UI-kits, like Nebular and etc.
        </span>
    </p>

    <p class="main-text career-container__item">
        <span>Everad ( 09.2018 - 11.2019 )</span>
        <span>Link: <a href="https://everad.com/" target="_blank">everad.com</a></span>
        <span>HTML Coder / Web Developer</span>
        <span>
            My main work contained in optimization and creating landing pages. The main part was a work with legacy code
            and smaller part - in creating landings. General work was with HTML structure, styling via CSS / SCSS
            and using libraries on jQuery / JS.
        </span>
    </p>

    <p class="main-text career-container__item">
        <span>Freelancer ( 08.2017 - 06.2018 )</span>
        <span>Link: <a href="https://github.com/serges-portfolio" target="_blank">my first works</a></span>
        <span>HTML Coder</span>
        <span>
            It was a wild time. I coded how I could and how I couldn't. First time I did test tasks.
            Sometimes that tasks were paid. After I had partial success and received several offers.
        </span>
    </p>
</section>
