<section class="tiles-box">
    <div class="tiles-box__tile-container -empty wrapper"></div>

    <div class="tiles-box__tile-container wrapper">
        <span class="tiles-box__tile wrapper -center">
            <a [routerLink]="['/', 'career']">career</a>
        </span>
    </div>

    <div class="tiles-box__tile-container -empty wrapper"></div>

    <div class="tiles-box__tile-container wrapper">
        <span class="tiles-box__tile wrapper -center">
            <a [routerLink]="['/', 'contacts']">contacts</a>
        </span>
    </div>

    <div class="tiles-box__tile-container wrapper about-me">
        <span class="tiles-box__tile wrapper -center">
            <a [routerLink]="['/', 'about']">about me</a>
        </span>
    </div>

    <div class="tiles-box__tile-container wrapper">
        <span class="tiles-box__tile wrapper -center">
            <a [routerLink]="['/', 'skills']">skills</a>
        </span>
    </div>

    <div class="tiles-box__tile-container -empty wrapper"></div>

    <div class="tiles-box__tile-container wrapper">
        <span class="tiles-box__tile wrapper -center">
            <a [href]="myGithubLink" target="_blank">git</a>
        </span>
    </div>

    <div class="tiles-box__tile-container -empty wrapper"></div>
</section>
